<section class="container">
  <div class="row">
    <div class="col">
      <h2>Chart {{statusMessage}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)=start() class="btn btn-primary">Start</button>
      <button (click)=restart() class="btn btn-danger">Recalculate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div id="chart"></div>
    </div>
    <div class="col-lg-6">
      <ng-container *ngFor="let normal of normals; let i = index">
        <app-normal-configuration [mean]="normal?.mean" [dev]="normal?.dev" [title]="normal?.title" (normalSelected)="onNormalSelected($event, i)">
        </app-normal-configuration>
      </ng-container>
    </div>
  </div>
</section>
