<div class="row">
  <div class="col text-info mb-1 mt-1">
    {{title || 'Title of normals'}}
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Mean {{mean * step}}</p>
        <p-slider [(ngModel)]="mean" [min]="-100" [max]="200" (onSlideEnd)="onMeanSelected($event)"></p-slider>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Deviation {{dev * step}}</p>
        <p-slider [(ngModel)]="dev" [min]="-100" [max]="200" (onSlideEnd)="onDevSelected($event)"></p-slider>
      </div>
    </div>
  </div>
</div>
